html {
    background-image: linear-gradient(#FC5E55, #FA4083);
}


body {
    background-image: url(./images/image-lion-background.png);
    background-position: top-center;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.125rem;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid yellow;
    
    
}

main {
    /* background-color: rgb(93, 207, 137); */
    min-height: 300px;
    display: flex;
    align-items: center;
}

.cards {
    /* min-height: 300px; */
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1 {
    background-image: url(./images/image-background-card1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 250px;
    width: 30%;
    
}

.card2 {
    background-image: url('./images/image-background-card2.jpg');
    background-size: cover;
    min-height: 250px;
    width: 30%;
    background-position: center;
}

.card3 {

    background-image: url('./images/image-background-card3.jpg');
    min-height: 250px;
    width: 30%;
    background-position: center;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    flex: 1;
}

h1 {
    color: black;
    font-size: 3.25rem;
    margin-bottom: 0.5rem;
    text-shadow: 0 5px 5px  rgba(17, 17, 17, 0.459);
}

h2 {
    font-size: 2rem;
    margin-top: 10px;
    margin-top: 20px;
}

.cards p {
    margin: 10px 20px;
    font-size: 0.85rem;
    line-height: 1.25rem;
}


.card1, .card2, .card3 {
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0 20px 20px  rgba(17, 17, 17, 0.8);
    border-radius: 50px;

}




a {
    text-decoration: none;
    color: white;
}



.mybutton {
    border-radius: 20px;
    box-shadow: 0 5px 5px  rgba(17, 17, 17, 0.459);

}

.mybutton:hover {
    background-color: #0cdefa;
    transition-duration: 1s;
}



a.mybutton {
    background-color: white;
    color: #FA4083;
    padding: 11px 25px;
    display: inline-block;
    margin: 50px 0;
}

.herobox2 img {
    border-radius: 50px;
}

nav a.mybutton {
    margin-left: 30px;
}

.navbutton {
    border: 1px solid yellow;
    padding: 11px 25px;
    border-radius: 30px;
    box-shadow: 1px 5px 5px  rgba(17, 17, 17, 0.459);
    display: inline-block;
    position: relative;
    margin-top: 5px;
    
}


.tbox {
    width: 47%;
    padding: 20px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 30px;
}

.testimonials {
    margin: 30px 0;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .tbox :last-child {
    font-size: 0.8rem;
} */

.tbox p:last-of-type {
    font-size: 0.8rem;
    padding-left: 30px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 10px;
    text-align: center;
    
}

.navbutton:hover .dropdown-menu {
    display: block;
        
}


.dropdown-menu .navbutton {
    width: 100px;
    background-color: white;   
    margin-left: -25px; 
}

.dropdown-menu .navbutton a {
    
    color: black;
}
