/* Desktop View */


body {
    margin: 0;
    background-color: rgb(250, 246, 246)
}

a {
    color: white;
    text-decoration: none;
}


/* REMEMBER: flex is always applied to the parent container of the elements you are trying to align */
.container {
    
    min-height: 500px;
    max-width: 1024;
    margin: 0 auto;
    display: flex; 
    /* always apply display flex to the parent of the item you are trying to apply the property to */
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 120px;
    
}

.col {
    
    width: 30%;
    margin-bottom: 40px;
    background-color: rgb(123, 241, 107);
    
}



header {
    color: white;
    max-width: 1024px;
    min-height: 100px;
    background-color: rgb(88, 124, 84, 0.8);
    /* this is to centre the content horizonally */
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    background-color: rgb(5, 36, 1, 0.2);
    min-height: 100px;
    margin-bottom: 40px;
    position: fixed;
    width: 100%;
}

.button {
    padding: 10px 25px;
    border-style: solid ;
    border-width: 1px;
    margin-left: 10px;
}

.logo {
    
}


.bold {
    font-weight: 700;
}






.hide-desktop-only {
    display: none;
}


.col img {
    width: 100%;
    height: auto;
}




.col p {
    color: white;
    font-size: 0.875rem;
    padding: 10px 20px;
    line-height: 1.1rem;
}


.footer-container {
    background-color: rgb(19, 29, 18);
    min-height: 100px;
    margin-top: 40px;
}


footer {
    max-width: 1024px;
    min-height: 100px;
    background-color: rgb(39, 252, 15);
    /* this is to centre the content horizonally */
    margin: 0 auto; 
}





/* this is to make the first line of the text bold */
.col p::first-line {
    color: maroon;
    font-weight: bold;
}




/* Tablet View*/
@media (max-width: 768px) {

.col {
    width: 49%;
}


.hide-desktop-only {
    display: block;
}

}


/* Mobile View */
@media (max-width: 300px) {

.col {
    width: 100%;
}
    
.hide-mobile {
    display: none;
}
}

img {
    
    width: 250px;
        
}

header {
    display: block;
    text-align: center;
}

nav a {
    display: block;

}

.logo {
    min-height: 20px;
    padding: 20px 0;
}

.button {
    margin-left: 0;
    padding: 5px;
}